@model IEnumerable<Store>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2>Stores List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Store" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Store
            </a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <div class="card-columns">
            @foreach (var store in Model)
            {
            <div class="card">
                <div class="card-img" style="background-image: url('https://image.shutterstock.com/image-photo/modern-bicycles-sport-shop-260nw-666149311.jpg');"></div>
                <div class="card-body">
                    <h5 class="card-title">@store.StoreName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@store.Email</h6>
                    <p class="card-text">@store.Street @store.City</p>
                </div>
                <div class="card-footer">
                    <small class="text=muted">
                        <a asp-controller="Store" asp-route-Id="@store.Id" asp-action="Edit"
                                class="btn btn-primary">
                            See More
                        </a>
                    </small>
                </div>
            </div>

            }
        </div>
    }
    else
    {
        <p> No category exists.</p>
    }

</div>

